USE [master]
GO
/****** Object:  Database [DBFasecolda]    Script Date: 3/06/2026 10:26:58 p. m. ******/
CREATE DATABASE [DBFasecolda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBFasecolda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBFasecolda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBFasecolda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBFasecolda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFasecolda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFasecolda]
GO
/****** Object:  Table [dbo].[Accidentes]    Script Date: 3/06/2026 10:26:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accidentes](
	[IdAccidente] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](10) NULL,
	[Fecha] [date] NULL,
	[Severidad] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
