USE [master]
GO
/****** Object:  Database [DBValidaciones]    Script Date: 3/06/2026 10:27:44 p. m. ******/
CREATE DATABASE [DBValidaciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBValidaciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBValidaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBValidaciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBValidaciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBValidaciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBValidaciones]
GO
/****** Object:  Table [dbo].[Validaciones]    Script Date: 3/06/2026 10:27:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Validaciones](
	[IdCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](10) NULL,
	[CcCliente] [varchar](20) NULL,
	[Resultado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
